<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @status %></h1>
    <p>User: <%= @user.full_name %></p>
    <p>Magic Link to visit Prolific: </p>
    <a href="https://prolific-dev.herokuapp.com/#/signin?magic_link=<%= @magic_link %>">prolific-dev.herokuapp.com</a>
    <p>Magic Link to visit Prolific: </p>
    <a href="http://localhost:8080/signin?magic_link=<%= @magic_link %>">localhost:8080</a>
  </body>
</html>
