<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @status %></h1>
    <p>User:<%= @user.full_name %></p>
    <p>Magic Link to visit Prolific:<%= @magic_link %></p>
  </body>
</html>
